extends ../layout
block stylesheets
    link(rel="stylesheet", href="/stylesheets/navigation.css")
block javascripts
    script(type='text/javascript', src='http://api.map.baidu.com/api?ak=DE62ca2a357ccffe40770cf87cb63195&v=2.0')
    script(type='text/javascript', src='/javascripts/navigation.js')
block content
    include ../common/footer/footer
    a.back-bar(href='javascript:window.history.back(-1);')
    //-搜索
    .search
        input.search-input#searchInput(type='text',placeholder='搜搜感兴趣的地点')
        span.search-go#searchBtn
            i.icon.iconfont.icon-sousuo2
    #test
    //- 选项卡
    .map-tab-box
        .map-tab
            each item in [1,2,3,4,5]
                .map-tab-content
                    ul.map-content-list
                        li.map-content-item
                            .map-tab-img-box
                                img.map-tab-img(src="/images/demo/foods-list1.jpg",alt="图片")
                            .map-tab-info
                                p.map-tab-title
                                    span.map-title-name 长白山景区
                                    span.map-tab-scroe  5.0分
                                p.map-tab-telphone 电话：0571-123485520125
                                p.map-tab-price
                                    span.map-tab-icon-price ￥
                                    | 88.8
                                //p.map-tab-addr 地址：是的敢惹他dry和人体
                            a.map-tab-go(href="/detail/location",data-location="",data-addr="")
                                p.go-icon-box
                                    i.icon.iconfont.icon-quzheli
                                span 到这里去
                        li.map-content-item
                            .map-tab-img-box
                                img.map-tab-img(src="/images/demo/foods-list1.jpg",alt="图片")
                            .map-tab-info
                                p.map-tab-title
                                    span.map-title-name 长白山景区
                                    span.map-tab-scroe  5.0分
                                p.map-tab-telphone 电话：0571-123485520125
                                p.map-tab-price
                                    span.map-tab-icon-price ￥
                                    | 88.8
                                //p.map-tab-addr 地址：是的敢惹他dry和人体
                            a.map-tab-go(href="/detail/location",data-location="",data-addr="")
                                p.go-icon-box
                                    i.icon.iconfont.icon-quzheli
                                span 到这里去
        .map-tab-nav
            ul.map-tab-list
                li.map-tab-item.active 全部
                li.map-tab-item 景区
                li.map-tab-item 酒店
                li.map-tab-item 厕所
                li.map-tab-item 停车场
    //-地图
    .map#allmap(data-module="navigation")
    +footer

