doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black', name='apple-mobile-web-app-status-bar-style')
    meta(content='telephone=no', name='format-detection')
    meta(content='email=no', name='format-detection')
    title= title
    link(rel='stylesheet', href='/stylesheets/common/reset.css')
    //- link(rel='stylesheet', href='/stylesheets/share.css')
    link(rel='stylesheet', href='/stylesheets/common/common.css')
    link(rel="stylesheet", href="/fonts/iconfont/iconfont.css")
    block stylesheets
    script(type='text/javascript', src="/lib/jquery/jquery-1.8.3.min.js")
    //- script(type='text/javascript', src="/javascripts/share.js")
    script(type='text/javascript', src="/lib/touch/touch-0.2.14.min.js")
    //script(type='text/javascript', src="/javascripts/baidu-statistics.js")
    script(type='text/javascript', src="/javascripts/common/public.js")
    block javascripts
  body(class=(module||'')+'_body')
    block content
