mixin footer()
    .footerWrap
        a(href='/', class= module === 'index'? 'on': '')
            i.icon-ihome
            p 首页
        a(href='/list/order', class= module === 'order'? 'on': '')
            i.icon-iorder
            p 订单
        a(href='tel:123456', class= module === 'kefu'? 'on': '')
            i.icon.iconfont.icon-kefu
            p 客服
        a(href='/member', class= module === 'member'? 'on': '')
            i.icon-imember
            p 我的
